html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.form-section{
  padding: 50px;
  margin: 50px;
  background-color: #a1a1a1;
  border-radius: 30px;
}
